<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>45</session-timeout>
    </session-config>
    
    <servlet>
        <servlet-name>/LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>/LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>/RegServlet</servlet-name>
        <servlet-class>controller.RegServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>/RegServlet</servlet-name>
        <url-pattern>/RegServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>/LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>/LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>/AddArticleServlet</servlet-name>
        <servlet-class>controller.AddArticleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>/AddArticleServlet</servlet-name>
        <url-pattern>/AddArticleServlet</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>/ArticleServlet</servlet-name>
    <servlet-class>controller.ArticleServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>/ArticleServlet</servlet-name>
        <url-pattern>/ArticleServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>/AddEventServlet</servlet-name>
        <servlet-class>controller.AddEventServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>/AddEventServlet</servlet-name>
        <url-pattern>/AddEventServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>/ScoreServlet</servlet-name>
        <servlet-class>controller.ScoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>/ScoreServlet</servlet-name>
        <url-pattern>/ScoreServlet</url-pattern>
    </servlet-mapping>

</web-app>
